.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container p {
    font-size: 64px;
    font-weight: 700;
    color: var(--text-white);
    padding-top: 16px;
    padding-bottom: 24px;
    text-align: center;
}

.startBtn {
    width: 200px;
    height: 60px;
    background: none;
    font-size: 24px;
    border: 3px solid var(--bg);
    border-radius: var(--radius);
    color: var(--bg);
}