.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    font-size: 24px;
    font-weight: 600;

    display: flex;
    justify-content: center;
    align-items: center;
}

.bar {
    width: 6px;
    border-radius: 3px;
    transition: 0.2s ease;
}